{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<div class="bg-dark" style="width:100%; border-radius:0px; margin-top:0.3%;">
    <marquee  class="text-white"  style ="">
        <b>Add Job Details</b>
    </marquee>
</div>

{% for msg in messages %}
  <div  class="btn btn-success" style="backgroung-color:black; border-radius:0px;  margin-top:0.3%; width:100%"><marquee ><b>{{msg}}</b></marquee></div>
{%  endfor   %}

<form class="container mt-5" method="post" >
    {% csrf_token %}

    <div class="from-row">
        <div class="from-group col-md-12" >
            <label><b>Job Title</b></label>
            <input  type="text" class="form-control" name="jobtitle" placeholder="" required>
        </div>
        <br>
    </div>
    </div>

        <div class="from-row">
        <div class="from-group col-md-12" >
            <label><b>Company Name</b></label>
            <input type="text" class="form-control" name="cname"  required>
        </div>
        <br>

            <div class="from-row">
        <div class="from-group col-md-12" >
            <label><b>Company Logo</b></label>
            <input type="file" class="form-control" name="image"  required>
        </div>
        <br>
    <div class="from-row">
        <div class="from-group col-md-12" >
            <label><b>Start Date</b></label>
            <input type="date" class="form-control" name="sdate"  required>
        </div>
        <br>


        <div class="from-group col-md-12" >
            <label><b>End Date</b></label>
            <input type="date" class="form-control" name="edate"  required>
        </div>
        <br>

          <div class="from-row">
        <div class="from-group col-md-12" >
            <label><b>Salary(Per Month)</b></label>
            <input type="text" class="form-control" name="salary"  required>
        </div>
        <br>

        <div class="from-group col-md-12" >
            <label><b>Experience(In Years)</b></label>
            <input type="text" class="form-control" name="experience" placeholder="Enter Your Experience" required>
        </div>
        <br><div class="from-group col-md-12" >
            <label><b>Company Location</b></label>
            <input type="text" class="form-control" name="location"  required>
        </div>
        <br>
    </div>

    <div class="from-row">
        <div class="from-group col-md-12" >
            <label><b>Skills</b></label>
            <input  type="text" class="form-control" name="skills" placeholder="Skills Required" required>
        </div>
        <br>

        <div class="from-group col-md-12" >
            <label><b>Description</b></label>
            <textarea class="form-control" name="description"  required></textarea>
        </div>
        <br>
    </div>
    </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-success" style="width:100%; border-radius:0%">
        </div>
</form>
<br>
<br>
{% include 'footer.html'%}

{% endblock %}