{% load static %}

{% block body %}

{% include 'navigation.html' %}

<div class="bg-dark" style="border-radius:0px; width:100%; margin-top:0.3%" >
    <marquee class="text-white"  >
        <b><i class="fa fa-address-book" style="margin-right:2px"></i>Admin Login</b>
    </marquee>
</div>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Email Id</b><a class="fa fa-envelope-o" style="margin-left:5px" aria-hidden="true"></a></label>
    <input style=" border-radius:0px" type="email" pattern="/(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"class="form-control" name="email" placeholder="Enter UserName" required >
    <label  style="margin-top:1%"><b>Password</b> <a class="fa fa-key" aria-hidden="true" style="margin-left:5px"></a></label>
    <input style=" border-radius:0px" type="password"   class="form-control" name="pwd" placeholder="Enter Password" required >
    <input type="submit" class="btn btn-success" style="margin-top:1%;border-radius:0%">
     <a href="{% url 'admin_signup' %}" class="btn btn-primary" style="margin-top:1%;border-radius:0%; width:8%">Sign Up</a>
</form>
{% endblock %}

<div style="" class="container">
    <div class="row ">

<h6 class="text-center text-white form-control " style=" border-radius:0px; width:100% ;background-color:black; margin-top:15%">Copyright © 2022 designed by Ravindra, India. All rights reserved</h6>

    </div>

</div>