{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<script>alert('Login Successfully')</script>

<style>
    .mydiv:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px);
    }
</style>

  <marquee  class="text-white bg-dark mt-2">
        <b>Admin Home</b>
    </marquee>
</div>
<div class="container mt-5 ">
    <br>
    <br>
<div class="row mt-5">
    <div class="col sm-6 mydiv">
        <h4 class="text-center"><i class="fa fa-user"></i>Total Recruiter</h4>
        <p class="text-center font-weight-bold">1</p>
    </div>
      <div class="col sm-3 mydiv">
        <h4 class="text-center font-weight-bold"><i class="fa fa-user"></i> Total Users</h4>
        <p class="text-center">1</p>
    </div>
</div>
</div>
{% endblock %}