{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<div class="bg-dark form-control" style="border-radius:0%">
<marquee class="text-white">
    <b>Change Password User</b>
</marquee>
</div>
<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }

</script>


<form class="container mt-5" method="post" name="changepassword"  onsubmit="return checkpass();">
    {% csrf_token %}
    <label><b>Current Password</b><a class="fa fa-key" aria-hidden="true" style="margin-left:5px"></a></label>
    <input type="password" class="form-control" name="currentpassword" required="true">

     <label><b>New Password</b><a class="fa fa-key" aria-hidden="true" style="margin-left:5px"></a></label>
    <input type="password" class="form-control" name="newpassword" required="true">

      <label><b>Confirm New Password</b><a class="fa fa-key" aria-hidden="true" style="margin-left:5px"></a></label>
    <input type="password" class="form-control" name="confirmpassword" required="true">

    <input type="submit"  onclick="alert('Password updated successfully')" class="form-control btn btn-success" class="btn btn-primary" style="margin-top:1%;border-radius:0%; width:100px">
</form>

{% endblock %}