{% load static %}

<div  class="mt-3 bg-dark" style=" width:100%; height:270px">
<div class="container">
   <div class="row">
       <div class="col-md-4 mt-3">
           <h3 class="" style="color:yellow">Contact Information</h3>
           <p style="color:white ; font-size:18px"><i class="fa fa-map-marker text-danger"></i> Indra Nagar Sector:18</p>
           <p style="color:white ; font-size:18px"><i class="fa fa-envelope text-danger"></i> ravindra123@gmail.com</p>
           <p style="color:white ; font-size:18px"><i class="fa fa-mobile text-danger"></i> Phone: +91 8673219654 </p>
           <p style="color:white ; font-size:18px"><i class="fa fa-globe text-danger"></i> W: www.ravisoft.com </p>
       </div>

       <div class="col-md-4 mt-3">
           <h3 style="color:yellow">Online Placement</h3>
           <p style="color:white ; font-size:18px">Online placement is the process of matching job seekers with job openings using online platforms or software. It is convenient, fast, and cost-effective for both job seekers and employers.An online placement portal is a platform that connects job seekers with employment opportunities and assists in the recruitment process. </p>
       </div>

      <div class="col-md-4 mt-3">
          <h3   style="margin-left:30%; color:yellow" >Feedback</h3>
          <form method="post" class="form-inline ">
             {% csrf_token%}
              <input style="margin-top:5%; border-radius:0px" type="text" name="text"  placeholder=" Enter Your Feedback Here..." required  class="form-control ">
              <input  style="margin-top :1%; border-radius:0px" type="submit" value="Send" class="btn btn-primary form-control">
          </form>

<div style="" class="container">
    <div class="row ">

<h6 class="text-center text-white" >Copyright © 2022 designed by Ravindra Kumar, India. All rights reserved</h6>

    </div>

</div>
      </div>
   </div>
</div>
</div>