    {% load static %}

{% block body %}

{% include 'navigation.html' %}

<style>
.container{
max-width : 90%;
flex-wrap:wrap;
}

.img1{
font-weight:bold;
color:black;
}

.content{
     text-align : center;
     bottom:0;
     color : white;
     height : 30px;
     width : 100%;

    }

    .img{
      transition:all 0.5s;
    }

.img:hover{
    transform:  scale(1.3);
    }

</style>
<!--//<div class="" style="margin-top : 0.5%">-->
<!--    <img src="{% static 'images/img.webp' %}" style="height : 100%; width : 100% ">-->
<!--</div>-->

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-intervel="'hover'">

  <!-- Indicators/dots -->


  <!-- The slideshow/carousel -->
  <div class="carousel-inner" style="height100%">
    <div class="carousel-item active">
      <img src="{% static 'images/job2.png' %}" alt="New York" class="d-block w-100 responsive"  alt="Los Angeles" class="d-block w-100 responsive">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Chicago" class="d-block w-100 responsive">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
    <div>
    <h1 style="border-radius:0px; margin-top:0.3% ;font-weight:bold; color:white;" class="text-center bg-dark form-control">Placed Students</h1>
    </div>
<div class="container" style="background-color: black; height:650px; margin-top : 1%">
    <h1 class="text-center text-white" style="font-weight:bold;">-----------| OUR PLACED STUDENTS |-----------</h1>

    <div style="" class="row mt-3 responsive">
        <div class="col-md-3 img">
           <img  class="" src="{% static 'images/img5.jpg' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1 bg-dark" style="color:white;">Capegimini</p>
           </div>
        </div>

        <div class="col-md-3 img">
           <img  src="{% static 'images/img2.webp' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1" style="background-color:#ffc107">Amazon</p>
           </div>
        </div>

        <div class="col-md-3 img">
           <img src="{% static 'images/img3.webp' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1"  style="background-color:#94F1FF">Google</p>
           </div>
        </div>

        <div class="col-md-3 img">
           <img src="{% static 'images/img5.jpg' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1"  style="background-color:#FF1E1E">Microsoft</p>
           </div>
        </div>
    </div>

       <div class="row mt-3">
        <div class="col-md-3 img">
           <img src="{% static 'images/img6.jpg' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1"  style="background-color:#0ECBFF">Walmart</p>
           </div>
        </div>

        <div class="col-md-3 img">
           <img src="{% static 'images/img7.jpg' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1"  style="background-color:#B915FF">HCL</p>
           </div>
        </div>

        <div class="col-md-3 img">
           <img src="{% static 'images/img8.jpg' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; border-radius:0%">
           <div class="content">
           <p class="img1"  style="background-color:#2450F0">Linkedin</p>
           </div>
        </div>

        <div class="col-md-3 img">
           <img src="{% static 'images/img9.jpg' %}" class="responsive" style="height : 200px; width : 100%; margin-top:5%; ">
           <div class="content">
           <p class="img1" style="background-color:#EEFF00">Swiggy</p>
           </div>
        </div>
    </div>

</div>
</div>

{% include 'slider.html' %}
{% include 'footer.html'  %}
{% endblock %}