{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<div class="btn btn-warning" style="border-radius:0px; width:100%; margin-top:0.3%">
    <marquee class="text-black" >
        <b>All Recruiter</b>
    </marquee>
</div>
<hr>
<div class="container">
<table class="table table-hover " id="example">
    <thead>
    <tr style="background-color : #000080 ;  color : white">
        <th>Sr.No</th>
        <th>Full Name</th>
        <th>Email Id</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Company</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for i in data %}
    <tr style="background-color : #DEB887">
        <td>{{forloop.counter}}</td>
        <td>{{i.finame}} {{i.lname}}</td>
        <td>{{i.email}}</td>
        <td>{{i.contact}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.company}}</td>
        <td><img src="{{i.image.url}}" style="width:100px; height:100px; border-radius:50%" ></td>
        <td><a href="{% url 'delete_recruiter' i.id  %}" style="border-radius:0%" class="btn btn-danger btn-sm" onclick="return confirm('Are you Sure?')">Delete</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
{% include 'footer.html'%}