{% load static %}

<div>
<h1 style=" margin-top:0.3%; font-weight:bold; color:white;" class="text-center bg-dark form-control">Our Partners</h1>
<div class="container">
  <div style="margin-top:0.5%" id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-intervel="'hover'">


  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wallpaperaccess.com/full/560606.jpg"  alt="Los Angeles" class="d-block w-100 responsive">
    </div>
    <div class="carousel-item">
      <img src="https://media.gettyimages.com/id/1239457545/photo/in-this-photo-illustration-a-goldman-sachs-group-logo-seen-displayed-on-a-smartphone-with-a.jpg?s=612x612&w=0&k=20&c=x1k_tZkujq6X1SeVElcOXuwzRyCHVoFm7xsanEGLZyY=" alt="Chicago" class="d-block w-100 responsive">
    </div>
    <div class="carousel-item">
      <img src="https://media.gettyimages.com/id/1044488662/photo/the-deloitte-offices-stand-in-2-new-square-on-october-2-2018-in-london-england-the-government.jpg?s=612x612&w=0&k=20&c=EZ1K1D9AIkhqgdKt4LreRoxY3wPpi75PIlUrKa8Y8bw=" alt="New York" class="d-block w-100 responsive">
    </div>
       <div class="carousel-item">
      <img src="{% static 'images/a.jpg' %}" alt="New York" class="d-block w-100 responsive">
    </div>
       <div class="carousel-item">
      <img src="{% static 'images/th (3).jpg' %}" alt="New York" class="d-block w-100 responsive">
    </div>
       <div class="carousel-item">
      <img src="{% static 'images/th (1).jpg' %}" alt="New York" class="d-block w-100 responsive">
    </div>
     <div class="carousel-item">
      <img src="{% static 'images/cap.webp' %}" alt="New York" class="d-block w-100 responsive">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>
</div>

</body>
</html>